*{
	margin:0px;
	padding:0px;
	border:0px;
}
body{
	background: #212121;
	background-image: url(images/body_bg.png);
	font-family: tahoma, arial, sans-serif;
	min-width: 1000px;
}
header{
	background-image: url(images/bgpattern.png);
	background-repeat: repeat-x;
	width: 100%;
}
.container{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.logo{
	float: left;
	margin-top: 10px;
	width: 240px;
}
.text-logo{
	color: #5d5c5c;
	font-size: 10px;
}
.upper-header{
	height: 36px;	
}
.list{
	position: relative;
	z-index: 10;
	list-style-type: none;
	float: right;
	margin-right: 44px;
}
.list li{
	float: left;
	line-height: 12px;
}
.list li:before{
	content: url(images/menuline.png);
	float: left;
	position: relative;
}
.list li a{
	padding-right: 11px;
	padding-left: 11px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #5d5c5c;
	text-decoration: none;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	text-shadow:0px 0px 3px rgba(0,0,0,.25);
	height: inherit;
	display: block;
	
}
.lower-header{
	height: 52px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.decoration1{
	float: left;
	position: relative;
	left: 1px;
	top: 28px;
}
.authentication{
	float: left;
	width: 250px;
	margin-left: -17px;
	position: relative;
	z-index: 9999;
}
.account{
	color: white;
	float: left;
	margin-top: 17px;
	font-size: 14px;
	font-weight: bold;
}
.account a{
	text-decoration: none;
	color: white;
	margin-left: 7px;
	margin-right: 7px;
}
.profile-wrapper{
	display: none;
}
.left-profile{
	width: 35px;
	height: 32px;
	border: 1px solid black;
	float: left;
}
.right-profile{
	height: 32px;
	width: 100px;
	border: 1px solid black;
	float: right;
}
.search-form{
	float: right;
	width: 492px;
	height: inherit;
	margin-right: 44px;
}
.search-button-bg{
	float: left;
	margin-left: 12px;
	width: 64px;
	height: 50px;
	background-image: url(images/button.png);
	background-repeat: no-repeat;
}
.search-button{
	background: transparent;
	position: relative;
	right: 58px;
	z-index: 10;
	display: block;
	width: 54px;
	height: 50px;
	float: left;
	outline: none;
	color: white;
}
.search-decor{	
    position: relative;
    z-index: 2;
    left: 36px;
    bottom: 90px;
}
.fake-search{
	float: right;
	margin-right: 19px;
	position: relative;
	z-index: 1;
	bottom: 39px;
	height: 30px;
	width: 380px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
	background: white;
}
.search{
	position: relative;
	z-index: 3;
	margin-right: 19px;
	bottom: 153px;
	float: right;	
	height: 30px;
	width: 380px;
	padding-left: 17px;
	padding-right: 61px;
	border-radius: 5px;
	background: transparent;
	border:none;	
	outline: none;
}
.wide-search{
	position: relative;
	z-index: 3;
	float: right;
	margin-right: 18px;
	bottom: 154px;
	color: white;
	font-size: 10px;
}
.wide-search a{
	text-decoration: none;
	color: white;
}
.slider{
	width: 100%;
	margin-top: 15px;
}
.slider-header a{
	text-decoration: none;
	margin-left: 100px;
	color: #a8a6a6;

}
.slider-bg{
	box-shadow: inset 0px -1px 2px rgba(0,0,0,0.3), inset 0px 1px 2px rgba(0,0,0,0.3);
	width: 100%;
	height: 287px;
	background: rgba(0,0,0,.2);
}
.slider-value{
	position: relative;
	top: 6px;
	height: 275px;	
}
.slider-decor{
	position: absolute;
	top: 240px;
    left: 46px;
}
.slider-item{
	background-image: url(images/slider.png);
	display: none;
	-webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.active-slider{
	display: block;
	z-index: 3;
	height: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}
.slider-content{
	position: relative;
	z-index: 10;
	bottom: 274px;
}
.slider-btn{
	z-index: 20;
	width: 32px;
	height: 32px;
	border-radius: 50px;
	background: white;
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.3);
	cursor: pointer;
	margin-top: 122px;
}
.slider-btn:hover{
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.5);
}
.slider-btn-img{
	margin-top: 8px;
}
.slider-btn.left .slider-btn-img{
	float: left;
	margin-left: 10px;
}
.slider-btn.right .slider-btn-img{
	float: right;
	margin-right: 10px;
}
.slider-btn.left{
	float: left;
}
.slider-btn.right{
	float: right;
}
.slider-description-container{
	right: 66px;
	float: right;
	position: absolute;
	z-index: 40;
	width: 305px;
	margin-top: 11px;
}
.slider-description-bg{
	background: rgba(0,0,0,.8);
	border-radius: 5px;
}
.description-decor1{
	position: absolute;
	top: -10px;
    left: 248px;
}
.description-decor2{
	position: absolute;
	left: -11px;
    bottom: 50px;
    z-index: 5;
}
.movie-info{
	margin-left: 3px;
	color: white;
	padding-top: 4px ;
}
.slider-description-header{
	font-weight: normal;
	font-size: 13px;
}
.slider-description-date{
	margin-top: 15px;
	height: 60px;
}
.date{
	background-image: url(images/date_bg.png);
	background-repeat: no-repeat;
	height: 60px;
	float: left;
	width: 141px;
}
.date .month{
	font-size: 14px;
}
.date .numbers{
	position: relative;
	z-index: 10;
	letter-spacing: 10px;
    margin-left: 3px;
    font-size: 60px;
    line-height: 60px;
    color: black;
    float: left;
}
.date .text{
	margin-top: 10px;
	font-size: 9px;
}
.rating{
	margin-top: 41px;
	margin-right: 8px;
	float: right;
	font-size: 12px;
}
.rating span{
	position: relative;
    bottom: 3px;
}
.slider-description-about{
	position: relative;
	z-index: 10;
	margin-top: 18px;
	font-size: 11px;
	overflow: hidden;
	height: 67px;
}
.slider-preview{
	list-style-type: none;
	margin-top: 5px;
}
.slider-peview .preview-item{
	float: left;
	margin-right: 10px;
	height: 42px;
	width: 92px;
	background: url(images/preview1.png);
	border: 1px solid white;
}
.preview-item:last-child{
	margin-right: 0;	
}
.page-header{
	margin-top: 20px;
	font-size: 14px;
	text-align: center;
}
.main-content{
	background: yellow;
	height: 1000px;
}
.left-content{
	width: 750px;
	float: left;
	height: 300px;
	background: white;
}
.right-content{
	width: 250px;
	float: left;
}
.preview-movies{
	margin-top: 15px;
	width: 696px;
	float: left;
	list-style-type: none;
}
.side-img{
	margin-left: -80px;
    float: left;
    margin-top: 40px;
}
.preview-movies .preview-item{
	float: left;
	width: 208px;
	margin-right: 26px;
}
.preview-movies .preview-item:last-child{
	margin-right: 13px;
}
.preview-movies .preview-item span{
	font-size: 12px;
}
.movie-preview-img{
	width: 211px;
	height: 145px;
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,.2);
}
.shadow-movies{
	border-radius:50px; 
	height: 2px;
	width: 180px;
	position: absolute;
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,.2);
}
.movie-preview-decoration{
	position: relative;
    bottom: 22px;
    left: 2px;
}
.movie-rating{
	position: relative;
	bottom: 153px;
    left: 60px;
}
.preview-movies .preview-item .about{
	margin-left: 7px;
	font-size: 11px;
	overflow: hidden;
	width: 220px;
	height: 56px;
}
.watch-button{
	text-decoration: none;
	color: white;
	font-size: 11px;
	padding: 5px 6px;
	border-radius: 4px;
	background: url(images/watch_bg.png);
	box-shadow: 0px 1px 0px 1px rgba(0,0,0,.4);
}
.updates{
	float: right;
}
.updates-container{
	margin-left: 3px;
	background-image: url(images/column_bg.png);
	background-repeat: repeat-y;
	border-radius: 3px;
	height: 260px;
	width: 234px;
}
.updates-header{
	background-image: url(images/focking_bg.png);
	background-repeat: no-repeat;
	width: 228px;
	height: 35px;
	margin-top: 11px;
}
.update-list{
	list-style-type: none;
	margin-top: 5px;
	width: 155px;
}
.update-item{

}