*{
	margin:0px;
	padding:0px;
	border:0px;
}
body{
	background: #282828;
	font-family: tahoma, arial, sans-serif;
	min-width: 1300px;
}
.container{
	width: 1000px;
}
.logo{
	margin-left: 192px;
	margin-top: 10px;
	float: left;
}
.upper-header{
	background-image: url(images/header_bg.png);
	background-repeat: repeat-x;
	height: 36px;
}
.upper-header .text{
	float: left;
	color: #5d5c5c;
	font-size: 10px;
	position: relative;
	top: 13px;
	left: 11px;
}
.list{
	list-style-type: none;
	float: left;
	position: relative;
	left: 274px;
}
.list li{
	float: left;
	
}
.list li:before{
	content: url(images/menuline.png);
	float: left;
	position: relative;
	top: 0px;
}
.list li:last-child:after{
	content: url(images/menuline.png);
	float: left;
	position: absolute;
	top: 0px;
	left: 473px;
}
.list li a{
	padding-right: 11px;
	padding-left: 11px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #5d5c5c;
	text-decoration: none;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	text-shadow:0px 0px 3px rgba(0,0,0,.25);
	height: inherit;
	display: block;
	
}
.lower-header{
	background-image: url(images/header_bg_lower.png);
	background-repeat: repeat-x;
	height: 52px;
}
.decoration1{
	position: relative;
	z-index: 1;
	left: 190px;
	top: 28px;
	float: left;
}
.lower-header .text{
	color: white;
	float: left;
	position: absolute;
	left: 230px;
	top: 52px;
	font-size: 14px;
	font-weight: bold;
}
.lower-header a{
	text-decoration: none;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}
.profile-wrapper{
	position: relative;
	top:10px;
	left: 181px;
	display: none;
}
.left-profile{
	width: 35px;
	height: 32px;
	border: 1px solid black;
	float: left;
}
.right-profile{
	height: 32px;
	width: 100px;
	border: 1px solid black;
	float: left;
}

.search-button{
	background: url(images/button.png);
	display: block;
	width: 63px;
	height: 50px;
	position: relative;
	float: left;
	outline: none;
	color: white;
	left: 637px;
	z-index: 4;
}
.searh-decor{
	position: absolute;
	z-index: 2;
	left: 720px;
    top: 26px;
    float: left;
}
.fake-search{
	float: left;
	position: absolute;
	top: 43px;
	left: 776px;
	height: 30px;
	width: 380px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
	background: white;
}
.search{
	float: left;
	position: relative;
	top: 7px;
    left: 658px;
	height: 30px;
	width: 380px;
	padding-left: 17px;
	padding-right: 61px;
	border-radius: 5px;
	background: transparent;
	border:none;
	z-index: 3;
	outline: none;
}
.wide-search{
	color: white;
	font-size: 10px;
	position: relative;
	top: 37px;
	left: 490px;
	float: left;
	z-index: 4;
}

