*{
	margin:0px;
	padding:0px;
	border:0px;
}
body{
	background: #282828;
	font-family: tahoma, arial, sans-serif;
}
header{
	background-image: url(images/bgpattern.png);
	background-repeat: repeat-x;
	width: 100%;
}
.container{
	width: 1000px;
}
.logo{
	margin-top: 10px;
	float: left;
}
.upper-header{
	height: 36px;
	width:1000px;
	margin-right: auto;
	margin-left: auto;
}
.upper-header .text{
	float: left;
	color: #5d5c5c;
	font-size: 10px;
	margin-top: 12px;
	margin-left: 7px;
}
.list{
	position: relative;
	z-index: 10;
	list-style-type: none;
	float: right;
}
.list li{
	float: left;	
}
.list li:before{
	content: url(images/menuline.png);
	float: left;
	position: relative;
	bottom: 1px;
}
.list li a{
	padding-right: 11px;
	padding-left: 11px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #5d5c5c;
	text-decoration: none;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	text-shadow:0px 0px 3px rgba(0,0,0,.25);
	height: inherit;
	display: block;
	
}
.lower-header{
	height: 52px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.decoration1{
	float: left;
	position: relative;
	left: 1px;
	top: 28px;
}
.lower-header .text{
	position: relative;
	left: -17px;
	color: white;
	float: left;
	margin-top: 17px;
	font-size: 14px;
	font-weight: bold;
}
.lower-header a{
	text-decoration: none;
	color: white;
	margin-left: 7px;
	margin-right: 7px;
}
.profile-wrapper{
	position: relative;
	top:10px;
	left: 181px;
	display: none;
}
.left-profile{
	width: 35px;
	height: 32px;
	border: 1px solid black;
	float: left;
}
.right-profile{
	height: 32px;
	width: 100px;
	border: 1px solid black;
	float: left;
}
.search-button{
	background: url(images/button.png);
	position: relative;
	z-index: 10;
	display: block;
	width: 64px;
	height: 50px;
	float: right;
	outline: none;
	color: white;
	left: 58px;
}
.search-decor{	
    float: right;
    position: relative;
    z-index: 2;
    left: 5px;
    bottom: 74px;
}
.fake-search{
	float: right;
	position: relative;
	z-index: 1;
	bottom: 24px;
	left: 515px;
	height: 30px;
	width: 380px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
	background: white;
}
.search{
	position: relative;
	z-index: 3;
	bottom: 54px;
	left: 439px;
	float: right;	
	height: 30px;
	width: 380px;
	padding-left: 17px;
	padding-right: 61px;
	border-radius: 5px;
	background: transparent;
	border:none;	
	outline: none;
}
.wide-search{
	position: relative;
	z-index: 3;
	color: white;
	font-size: 10px;
	left: 566px;
	top: 32px;
}
.wide-search a{
	margin-right: 0;
	margin-left: 0;
}

