header{
	width: 100%;
	background: #454545;
	height: 200px;
	border-bottom: 1px solid #000;
}
.mine-header{
		
}
.logo{
	float: right;
	margin-top: 70px;
	margin-right: 40px;
}
.logo p{
	color: #fff;
}
.author{
	line-height: 80px;
	color: #fff;
	font-size: 80px;
	-webkit-animation: neon 1s ease-in-out infinite alternate;
  	-moz-animation: neon 1s ease-in-out infinite alternate;
  	animation: neon 1s ease-in-out infinite alternate;
}
@keyframes neon {
  from {
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 6px #fff, 0 0 10px #02d6de, 0 0 20px #02d6de, 0 0 35px #02d6de, 0 0 50px #02d6de, 0 0 70px #02d6de;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 5px #02d6de, 0 0 10px #02d6de, 0 0 17px #02d6de, 0 0 25px #02d6de, 0 0 35px #02d6de;
  }
}
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 6px #fff, 0 0 10px #02d6de, 0 0 20px #02d6de, 0 0 35px #02d6de, 0 0 50px #02d6de, 0 0 70px #02d6de;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 5px #02d6de, 0 0 10px #02d6de, 0 0 17px #02d6de, 0 0 25px #02d6de, 0 0 35px #02d6de;
  }
}
@-moz-keyframes neon {
  from {
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 6px #fff, 0 0 10px #02d6de, 0 0 20px #02d6de, 0 0 35px #02d6de, 0 0 50px #02d6de, 0 0 70px #02d6de;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 5px #02d6de, 0 0 10px #02d6de, 0 0 17px #02d6de, 0 0 25px #02d6de, 0 0 35px #02d6de;
  }
}
.main-content{
	border-radius: 3px;
	background: #fff;
	margin-top: 10px;
	border: 1px solid #00bfb4;
	margin-bottom: 10px;
}
.page-header h1{
	text-shadow: 0 0 3px #02d6de;
}
.page-header{
	border: none;
}
.footer{
	background: #454545;
	border-top: 1px solid #000;
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0px;
}
.container .main-content.row-fluid .span12 ul{
	list-style-type: none;
	margin-left: 0px;
	margin-bottom: 0px;
}
.text-information{

}
.preview{
	width: 200px;
	height: 120px;
	margin-left: 5px;
	margin-top: 5px;
	box-shadow: 0px 0px 2px 2px rgba(40,239,227,.3);
}
.project{
	border-bottom: 1px solid #00bfb4;
}
.my-icons{
	color: #15aba2;
	height: 100px;
	width: 200px;
	margin-top: 10px;
}
.my-icons a{
	font-size: 35px;
	padding: 1px 12px;
	border: 1px solid #15aba2;
}
.my-icons a:hover{
	color: #fff;
	border: 1px solid #fff;
}
